In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({'team': ['A', 'A', 'A', 'A', 'B', 'B', 'B', 'B'],
                   'points': [5, 7, 7, 9, 12, 9, 9, 4],
                   'assists': [11, 8, 10, 6, 6, 5, 9, 12]},
                   index=['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H'])

In [3]:
df

  team  points  assists
A    A       5       11
B    A       7        8
C    A       7       10
D    A       9        6
E    B      12        6
F    B       9        5
G    B       9        9
H    B       4       12

In [7]:
bool_series = df['points'] > 10

In [8]:
bool_series

A    True
B    True
C    True
D    True
E    True
F    True
G    True
H    True
Name: points, dtype: bool

In [9]:
df[bool_series]

  team  points  assists
A    A       5       11
B    A       7        8
C    A       7       10
D    A       9        6
E    B      12        6
F    B       9        5
G    B       9        9
H    B       4       12

In [10]:
bool_series = df['points'] > 10
df[bool_series]

  team  points  assists
E    B      12        6

In [11]:
df[df['points']>10]

  team  points  assists
E    B      12        6

In [12]:
df[df['team'] == 'A']

  team  points  assists
A    A       5       11
B    A       7        8
C    A       7       10
D    A       9        6

In [16]:
df[df['points'] == 5]

  team  points  assists
A    A       5       11

###Multiple Conditions
Recall the steps:

Get the conditions
Wrap each condition in parenthesis
Use the | or & operator, depending if you want an
OR | (either condition is True)
AND & (both conditions must be True)
You can also use the ~ operator as a NOT operation

In [18]:
df[(df['points'] > 5) & (df['team']=='A')]

  team  points  assists
B    A       7        8
C    A       7       10
D    A       9        6

In [19]:
df[(df['points'] > 45) & (df['team']=='A')]

Empty DataFrame
Columns: [team, points, assists]
Index: []

In [20]:
df[(df['points'] > 3) & ~(df['team']=='A')]

  team  points  assists
E    B      12        6
F    B       9        5
G    B       9        9
H    B       4       12

In [21]:
df[(df['points'] > 30) & (df['team']!='A')]

Empty DataFrame
Columns: [team, points, assists]
Index: []

In [22]:
df[(df['points'] > 3) & (df['team']!='A')]

  team  points  assists
E    B      12        6
F    B       9        5
G    B       9        9
H    B       4       12

In [23]:
df[(df['team'] =='A') | (df['points']=='5')]

  team  points  assists
A    A       5       11
B    A       7        8
C    A       7       10
D    A       9        6

####Conditional Operator isin()
We can use .isin() operator to filter by a list of options.

In [24]:
options = [5,7]
df['points'].isin(options)

A     True
B     True
C     True
D    False
E    False
F    False
G    False
H    False
Name: points, dtype: bool

In [25]:
df[df['points'].isin(['5','10'])]

Empty DataFrame
Columns: [team, points, assists]
Index: []