In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({'team': ['A', 'A', 'A', np.nan, 'B', 'B', 'B', 'B'],
                   'points': [np.nan, 7, 7, 9, 12, 9, 9, 4],
                   'assists': [11, 8, 10, 6, 6, 5, 9, 12]},
                   index=['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H'])

In [3]:
df

  team  points  assists
A    A     NaN       11
B    A     7.0        8
C    A     7.0       10
D  NaN     9.0        6
E    B    12.0        6
F    B     9.0        5
G    B     9.0        9
H    B     4.0       12

## groupby method

In [4]:
df.groupby('team')

##Adding an aggregate method call. To use a grouped object, you need to tell pandas how you want to aggregate the data

In [5]:
df.groupby('team').mean()

      points   assists
team
A        7.0  9.666667
B        8.5  8.000000

In [6]:
ser=df.groupby('team').mean()

In [8]:
ser.index

Index(['A', 'B'], dtype='object', name='team')

In [9]:
ser.columns

Index(['points', 'assists'], dtype='object')

In [10]:
ser['points']

team
A    7.0
B    8.5
Name: points, dtype: float64

In [15]:
df.groupby('team').mean()

      points   assists
team
A        7.0  9.666667
B        8.5  8.000000

In [16]:
df.groupby('team').describe()

     points                                            assists            \
      count mean       std  min   25%  50%   75%   max   count      mean
team
A       2.0  7.0  0.000000  7.0  7.00  7.0  7.00   7.0     3.0  9.666667
B       4.0  8.5  3.316625  4.0  7.75  9.0  9.75  12.0     4.0  8.000000


           std  min   25%   50%    75%   max
team
A     1.527525  8.0  9.00  10.0  10.50  11.0
B     3.162278  5.0  5.75   7.5   9.75  12.0

In [17]:
df.groupby('team').describe().transpose()

team                   A          B
points  count   2.000000   4.000000
        mean    7.000000   8.500000
        std     0.000000   3.316625
        min     7.000000   4.000000
        25%     7.000000   7.750000
        50%     7.000000   9.000000
        75%     7.000000   9.750000
        max     7.000000  12.000000
assists count   3.000000   4.000000
        mean    9.666667   8.000000
        std     1.527525   3.162278
        min     8.000000   5.000000
        25%     9.000000   5.750000
        50%    10.000000   7.500000
        75%    10.500000   9.750000
        max    11.000000  12.000000

In [21]:
df.groupby(['team','points']).mean()

             assists
team points
A    7.0         9.0
B    4.0        12.0
     9.0         7.0
     12.0        6.0

In [22]:
df.groupby(['team','points']).mean().index

MultiIndex([('A',  7.0),
            ('B',  4.0),
            ('B',  9.0),
            ('B', 12.0)],
           names=['team', 'points'])

#MultiIndex

In [25]:
m=df.groupby(['team','points']).mean()

In [26]:
m.index

MultiIndex([('A',  7.0),
            ('B',  4.0),
            ('B',  9.0),
            ('B', 12.0)],
           names=['team', 'points'])

In [27]:
m.index.levels

FrozenList([['A', 'B'], [4.0, 7.0, 9.0, 12.0]])

In [28]:
m.index.names

FrozenList(['team', 'points'])

##Indexing with the Hierarchical Index

In [29]:
m.index

MultiIndex([('A',  7.0),
            ('B',  4.0),
            ('B',  9.0),
            ('B', 12.0)],
           names=['team', 'points'])

##Grab Based on Outside Index